In [71]:
# Libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# ML Libraries
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OrdinalEncoder


from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor

from sklearn.discriminant_analysis import LinearDiscriminantAnalysis 

from sklearn import metrics

In [72]:
# Load df
df = pd.read_csv('http://bit.ly/DatasetAdult')
df

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [73]:
df['income'].unique()

array(['<=50K', '>50K'], dtype=object)

In [74]:
df['native-country'].unique()

array(['United-States', '?', 'Peru', 'Guatemala', 'Mexico',
       'Dominican-Republic', 'Ireland', 'Germany', 'Philippines',
       'Thailand', 'Haiti', 'El-Salvador', 'Puerto-Rico', 'Vietnam',
       'South', 'Columbia', 'Japan', 'India', 'Cambodia', 'Poland',
       'Laos', 'England', 'Cuba', 'Taiwan', 'Italy', 'Canada', 'Portugal',
       'China', 'Nicaragua', 'Honduras', 'Iran', 'Scotland', 'Jamaica',
       'Ecuador', 'Yugoslavia', 'Hungary', 'Hong', 'Greece',
       'Trinadad&Tobago', 'Outlying-US(Guam-USVI-etc)', 'France',
       'Holand-Netherlands'], dtype=object)

In [75]:
df = df.replace('?', np.NaN)

In [76]:
df.isna().sum()

age                   0
workclass          2799
fnlwgt                0
education             0
educational-num       0
marital-status        0
occupation         2809
relationship          0
race                  0
gender                0
capital-gain          0
capital-loss          0
hours-per-week        0
native-country      857
income                0
dtype: int64

In [77]:
df.dropna(inplace=True)

In [78]:
df.isna().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [79]:
# Hot encoding
def encoder(column):
    encoderr = OrdinalEncoder()
    df[column] = encoderr.fit_transform(df[[column]])

In [80]:
encoder('workclass')

In [81]:
encoder('education')
encoder('marital-status')
encoder('occupation')
encoder('relationship')
encoder('race')
encoder('native-country')

In [82]:
encoder('gender')
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,2.0,226802,1.0,7,4.0,6.0,3.0,2.0,1.0,0,0,40,38.0,<=50K
1,38,2.0,89814,11.0,9,2.0,4.0,0.0,4.0,1.0,0,0,50,38.0,<=50K
2,28,1.0,336951,7.0,12,2.0,10.0,0.0,4.0,1.0,0,0,40,38.0,>50K
3,44,2.0,160323,15.0,10,2.0,6.0,0.0,2.0,1.0,7688,0,40,38.0,>50K
5,34,2.0,198693,0.0,6,4.0,7.0,1.0,4.0,1.0,0,0,30,38.0,<=50K

In [83]:
X = df.loc[:, 'age' : 'native-country'].values
y = df['income'].values

In [84]:
# Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [48]:
# Train model
knn_class = KNeighborsClassifier(n_neighbors=3)

knn_class.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=8)

In [49]:
y_pred_class = knn_class.predict(X_test)

In [50]:
# Accuracy
print('Accuracy : ', metrics.accuracy_score(y_test, y_pred_class))

Accuracy :  0.7953565505804312

In [33]:
# Classification report
print(metrics.classification_report(y_test, y_pred_class))

              precision    recall  f1-score   support

       <=50K       0.80      0.97      0.88      6842
        >50K       0.74      0.25      0.37      2203

    accuracy                           0.80      9045
   macro avg       0.77      0.61      0.62      9045
weighted avg       0.79      0.80      0.75      9045

# Dimension Reduction using LDA

In [54]:
# Feature Scaling

scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [55]:
X_train

array([[-0.72602641,  0.83062499,  0.70089758, ..., -0.21932151,
        -0.07858361,  0.26295123],
       [ 0.03216831, -0.21268868, -0.85554312, ..., -0.21932151,
         0.75492152, -4.3381548 ],
       [ 0.18380726, -0.21268868,  0.45175884, ..., -0.21932151,
        -2.16234645, -5.3241061 ],
       ...,
       [ 1.09364092, -1.25600235, -1.42768048, ..., -0.21932151,
        -0.07858361,  0.26295123],
       [ 1.39691881, -0.21268868, -0.03159908, ..., -0.21932151,
        -0.07858361,  0.26295123],
       [ 0.3354462 , -0.21268868, -0.33266774, ..., -0.21932151,
        -0.07858361,  0.26295123]])

In [69]:
# Perform LDA

lda = LinearDiscriminantAnalysis(n_components=1)

X_train = lda.fit_transform(X_train, y_train)

X_test = lda.transform(X_test)

In [70]:
X_train

array([[-0.43580531],
       [-0.29146582],
       [ 0.21334271],
       ...,
       [ 0.54238409],
       [ 0.03683253],
       [-1.04867748]])

In [63]:
# Lets redo the model then see if accuracy improves

knn2 = KNeighborsClassifier(n_neighbors=8)

knn2.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=8)

In [64]:
y_pred_2 = knn2.predict(X_test)

In [65]:
print('Accuracy : ', metrics.accuracy_score(y_test, y_pred_2))

Accuracy :  0.7985627418463239